@media (min-width: 576px) and (max-width: 767.98px){
    .main-menu .navbar-nav .one a {
        position: relative;
        left: 0;
    }
    .main-menu .navbar-nav .one a:hover::after {
         left: 0%;
       
    }
    .main-menu .navbar-nav .one a::after {
        left: 0px;
        
    }
}